In [2]:
from pyspark.sql import SparkSession
spark=SparkSession.builder\
.appName("Exercises RDD")\
.getOrCreate()

In [3]:
data = """call_id,caller,receiver,city,call_type,duration_seconds,cost
C001,Amit,Rahul,Hyderabad,Local,180,2.5
C002,Neha,Arjun,Bangalore,STD,320,6.0
C003,Rahul,Pooja,Delhi,Local,60,1.0
C004,Pooja,Neha,Mumbai,ISD,900,25.0
C005,Arjun,Amit,Chennai,STD,400,7.5
C006,Sneha,Karan,Hyderabad,Local,240,3.0
C007,Karan,Sneha,Delhi,Local,120,2.0
C008,Riya,Vikas,Bangalore,STD,360,6.5
C009,Vikas,Riya,Mumbai,ISD,1100,30.0
C010,Anjali,Sanjay,Chennai,Local,90,1.5
C011,Farhan,Ayesha,Delhi,STD,420,7.0
C012,Ayesha,Farhan,Hyderabad,ISD,950,28.0
C013,Suresh,Divya,Bangalore,Local,150,2.0
C014,Divya,Suresh,Mumbai,STD,380,6.8
C015,Nikhil,Priya,Delhi,Local,200,2.8
C016,Priya,Nikhil,Chennai,STD,410,7.2
C017,Rohit,Kavya,Hyderabad,Local,170,2.3
C018,Kavya,Rohit,Bangalore,Local,140,2.1
C019,Manish,Tina,Mumbai,ISD,1000,27.0
C020,Tina,Manish,Delhi,STD,350,6.2
"""

with open("telecom.csv","w") as f:
  f.write(data)

Ex1

In [4]:
rdd=spark.sparkContext.textFile("telecom.csv")
rdd.take(5)

['call_id,caller,receiver,city,call_type,duration_seconds,cost',
 'C001,Amit,Rahul,Hyderabad,Local,180,2.5',
 'C002,Neha,Arjun,Bangalore,STD,320,6.0',
 'C003,Rahul,Pooja,Delhi,Local,60,1.0',
 'C004,Pooja,Neha,Mumbai,ISD,900,25.0']

Ex2

In [5]:
header = rdd.first()
data_rdd=rdd.filter(lambda row: row !=header)
data_rdd.collect()

['C001,Amit,Rahul,Hyderabad,Local,180,2.5',
 'C002,Neha,Arjun,Bangalore,STD,320,6.0',
 'C003,Rahul,Pooja,Delhi,Local,60,1.0',
 'C004,Pooja,Neha,Mumbai,ISD,900,25.0',
 'C005,Arjun,Amit,Chennai,STD,400,7.5',
 'C006,Sneha,Karan,Hyderabad,Local,240,3.0',
 'C007,Karan,Sneha,Delhi,Local,120,2.0',
 'C008,Riya,Vikas,Bangalore,STD,360,6.5',
 'C009,Vikas,Riya,Mumbai,ISD,1100,30.0',
 'C010,Anjali,Sanjay,Chennai,Local,90,1.5',
 'C011,Farhan,Ayesha,Delhi,STD,420,7.0',
 'C012,Ayesha,Farhan,Hyderabad,ISD,950,28.0',
 'C013,Suresh,Divya,Bangalore,Local,150,2.0',
 'C014,Divya,Suresh,Mumbai,STD,380,6.8',
 'C015,Nikhil,Priya,Delhi,Local,200,2.8',
 'C016,Priya,Nikhil,Chennai,STD,410,7.2',
 'C017,Rohit,Kavya,Hyderabad,Local,170,2.3',
 'C018,Kavya,Rohit,Bangalore,Local,140,2.1',
 'C019,Manish,Tina,Mumbai,ISD,1000,27.0',
 'C020,Tina,Manish,Delhi,STD,350,6.2']

Ex3

In [6]:
split_rdd=data_rdd.map(lambda row: row.split(","))
split_rdd.collect()

[['C001', 'Amit', 'Rahul', 'Hyderabad', 'Local', '180', '2.5'],
 ['C002', 'Neha', 'Arjun', 'Bangalore', 'STD', '320', '6.0'],
 ['C003', 'Rahul', 'Pooja', 'Delhi', 'Local', '60', '1.0'],
 ['C004', 'Pooja', 'Neha', 'Mumbai', 'ISD', '900', '25.0'],
 ['C005', 'Arjun', 'Amit', 'Chennai', 'STD', '400', '7.5'],
 ['C006', 'Sneha', 'Karan', 'Hyderabad', 'Local', '240', '3.0'],
 ['C007', 'Karan', 'Sneha', 'Delhi', 'Local', '120', '2.0'],
 ['C008', 'Riya', 'Vikas', 'Bangalore', 'STD', '360', '6.5'],
 ['C009', 'Vikas', 'Riya', 'Mumbai', 'ISD', '1100', '30.0'],
 ['C010', 'Anjali', 'Sanjay', 'Chennai', 'Local', '90', '1.5'],
 ['C011', 'Farhan', 'Ayesha', 'Delhi', 'STD', '420', '7.0'],
 ['C012', 'Ayesha', 'Farhan', 'Hyderabad', 'ISD', '950', '28.0'],
 ['C013', 'Suresh', 'Divya', 'Bangalore', 'Local', '150', '2.0'],
 ['C014', 'Divya', 'Suresh', 'Mumbai', 'STD', '380', '6.8'],
 ['C015', 'Nikhil', 'Priya', 'Delhi', 'Local', '200', '2.8'],
 ['C016', 'Priya', 'Nikhil', 'Chennai', 'STD', '410', '7.2'],
 ['C017', 'Rohit', 'Kavya', 'Hyderabad', 'Local', '170', '2.3'],
 ['C018', 'Kavya', 'Rohit', 'Bangalore', 'Local', '140', '2.1'],
 ['C019', 'Manish', 'Tina', 'Mumbai', 'ISD', '1000', '27.0'],
 ['C020', 'Tina', 'Manish', 'Delhi', 'STD', '350', '6.2']]

Ex4

In [10]:
total_cost=split_rdd.map(lambda x: (x[3], float(x[6])))
total_cost.collect()

[('Hyderabad', 2.5),
 ('Bangalore', 6.0),
 ('Delhi', 1.0),
 ('Mumbai', 25.0),
 ('Chennai', 7.5),
 ('Hyderabad', 3.0),
 ('Delhi', 2.0),
 ('Bangalore', 6.5),
 ('Mumbai', 30.0),
 ('Chennai', 1.5),
 ('Delhi', 7.0),
 ('Hyderabad', 28.0),
 ('Bangalore', 2.0),
 ('Mumbai', 6.8),
 ('Delhi', 2.8),
 ('Chennai', 7.2),
 ('Hyderabad', 2.3),
 ('Bangalore', 2.1),
 ('Mumbai', 27.0),
 ('Delhi', 6.2)]

In [11]:
cost_city=total_cost.reduceByKey(lambda x,y: x+y)
cost_city.collect()

[('Hyderabad', 35.8),
 ('Delhi', 19.0),
 ('Mumbai', 88.8),
 ('Bangalore', 16.6),
 ('Chennai', 16.2)]

Ex5

In [12]:
max_cost=cost_city.reduce(
    lambda x,y: x if x[1]>y[1] else y
)
max_cost

('Mumbai', 88.8)

Ex6

In [14]:

duration_by_type = (
    split_rdd
    .map(lambda x: (x[4], int(x[5])))
    .reduceByKey(lambda a, b: a + b)
)
duration_by_type.collect()

[('Local', 1350), ('STD', 2640), ('ISD', 3950)]

Ex7

In [15]:

calls_per_city = (
    split_rdd
    .map(lambda x: (x[3], 1))              # (city, 1)
    .reduceByKey(lambda a, b: a + b)       # sum counts per city
)

calls_per_city.collect()

[('Hyderabad', 4),
 ('Delhi', 5),
 ('Mumbai', 4),
 ('Bangalore', 4),
 ('Chennai', 3)]

Ex8

In [16]:
# Map to (city, (cost, 1)) with explicit float conversion
city_cost_count = split_rdd.map(lambda x: (x[3], (float(x[6]), 1)))

# Reduce to (sum_cost, count) per city
city_sum_count = city_cost_count.reduceByKey(lambda a, b: (a[0] + b[0], a[1] + b[1]))

# Compute average = sum_cost / count
avg_cost_per_city = city_sum_count.mapValues(lambda sc: sc[0] / sc[1])

avg_cost_per_city.collect()

[('Hyderabad', 8.95),
 ('Delhi', 3.8),
 ('Mumbai', 22.2),
 ('Bangalore', 4.15),
 ('Chennai', 5.3999999999999995)]

Ex9

In [17]:
high_value_calls = split_rdd.filter(lambda x: float(x[6]) > 20.0)

high_value_calls.collect()

[['C004', 'Pooja', 'Neha', 'Mumbai', 'ISD', '900', '25.0'],
 ['C009', 'Vikas', 'Riya', 'Mumbai', 'ISD', '1100', '30.0'],
 ['C012', 'Ayesha', 'Farhan', 'Hyderabad', 'ISD', '950', '28.0'],
 ['C019', 'Manish', 'Tina', 'Mumbai', 'ISD', '1000', '27.0']]

Ex10

In [ ]:
isd_calls_per_city = (
    split_rdd
    .filter(lambda x: x[4].upper() == "ISD")   # keep only ISD calls
    .map(lambda x: (x[3], 1))                  # (city, 1)
    .reduceByKey(lambda a, b: a + b)           # count per city
)

isd_calls_per_city.collect()

Ex11

In [18]:
longest_call = split_rdd.max(key=lambda x: int(x[5]))
longest_call

['C009', 'Vikas', 'Riya', 'Mumbai', 'ISD', '1100', '30.0']

Ex12

In [19]:
revenue_by_caller = (
    split_rdd
    .map(lambda x: (x[1], float(x[6])))   # (caller, cost)
    .reduceByKey(lambda a, b: a + b)      # sum costs per caller
)

revenue_by_caller.collect()

[('Amit', 2.5),
 ('Pooja', 25.0),
 ('Karan', 2.0),
 ('Riya', 6.5),
 ('Vikas', 30.0),
 ('Suresh', 2.0),
 ('Divya', 6.8),
 ('Nikhil', 2.8),
 ('Rohit', 2.3),
 ('Manish', 27.0),
 ('Tina', 6.2),
 ('Neha', 6.0),
 ('Rahul', 1.0),
 ('Arjun', 7.5),
 ('Sneha', 3.0),
 ('Anjali', 1.5),
 ('Farhan', 7.0),
 ('Ayesha', 28.0),
 ('Priya', 7.2),
 ('Kavya', 2.1)]

Ex13

In [20]:
suspicious_calls = (
    split_rdd
    .filter(lambda x: int(x[5]) > 900 and float(x[6]) > 25.0)
)

suspicious_calls.collect()

[['C009', 'Vikas', 'Riya', 'Mumbai', 'ISD', '1100', '30.0'],
 ['C012', 'Ayesha', 'Farhan', 'Hyderabad', 'ISD', '950', '28.0'],
 ['C019', 'Manish', 'Tina', 'Mumbai', 'ISD', '1000', '27.0']]