In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
spark=SparkSession.builder\
.appName("Product Details")\
.getOrCreate()

In [ ]:
sales_data = [
    ("S001","North","Laptop","2024-01-05",75000),
    ("S002","South","Mobile","2024-01-06",30000),
    ("S003","East","Laptop","2024-01-07",72000),
    ("S004","West","Tablet","2024-01-08",25000),
    ("S005","North","Mobile","2024-01-10",28000),
    ("S006","South","Laptop","2024-01-11",76000),
    ("S007","East","Tablet","2024-01-12",24000),
    ("S008","West","Mobile","2024-01-13",32000),
    ("S009","North","Tablet","2024-01-14",26000),
    ("S010","South","Mobile","2024-01-15",31000),
    ("S011","East","Laptop","2024-01-16",74000),
    ("S012","West","Laptop","2024-01-17",78000)
]


sales_cols = ["sale_id","region","product","sale_date","amount"]
df_sales = spark.createDataFrame(sales_data,sales_cols)
df_sales.show()
df_sales.printSchema()

+-------+------+-------+----------+------+
|sale_id|region|product| sale_date|amount|
+-------+------+-------+----------+------+
|   S001| North| Laptop|2024-01-05| 75000|
|   S002| South| Mobile|2024-01-06| 30000|
|   S003|  East| Laptop|2024-01-07| 72000|
|   S004|  West| Tablet|2024-01-08| 25000|
|   S005| North| Mobile|2024-01-10| 28000|
|   S006| South| Laptop|2024-01-11| 76000|
|   S007|  East| Tablet|2024-01-12| 24000|
|   S008|  West| Mobile|2024-01-13| 32000|
|   S009| North| Tablet|2024-01-14| 26000|
|   S010| South| Mobile|2024-01-15| 31000|
|   S011|  East| Laptop|2024-01-16| 74000|
|   S012|  West| Laptop|2024-01-17| 78000|
+-------+------+-------+----------+------+

root
 |-- sale_id: string (nullable = true)
 |-- region: string (nullable = true)
 |-- product: string (nullable = true)
 |-- sale_date: string (nullable = true)
 |-- amount: long (nullable = true)

In [ ]:
df_sales.select("sale_id","product","amount").show()

+-------+-------+------+
|sale_id|product|amount|
+-------+-------+------+
|   S001| Laptop| 75000|
|   S002| Mobile| 30000|
|   S003| Laptop| 72000|
|   S004| Tablet| 25000|
|   S005| Mobile| 28000|
|   S006| Laptop| 76000|
|   S007| Tablet| 24000|
|   S008| Mobile| 32000|
|   S009| Tablet| 26000|
|   S010| Mobile| 31000|
|   S011| Laptop| 74000|
|   S012| Laptop| 78000|
+-------+-------+------+

In [ ]:
df_sales.select(
    col("sale_id"),
    col("amount").alias("sale_amount")
).show()

+-------+-----------+
|sale_id|sale_amount|
+-------+-----------+
|   S001|      75000|
|   S002|      30000|
|   S003|      72000|
|   S004|      25000|
|   S005|      28000|
|   S006|      76000|
|   S007|      24000|
|   S008|      32000|
|   S009|      26000|
|   S010|      31000|
|   S011|      74000|
|   S012|      78000|
+-------+-----------+