In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("cache").getOrCreate()

In [2]:
data = [
    ("ORD001","Delhi","Laptop",45000),
    ("ORD002","Mumbai","Mobile",32000),
    ("ORD003","Bangalore","Laptop",52000),
    ("ORD004","Delhi","Tablet",28000),
    ("ORD005","Mumbai","Laptop",61000),
    ("ORD006","Chennai","Mobile",30000),
    ("ORD007","Delhi","Laptop",47000),
    ("ORD008","Bangalore","Tablet",35000),
    ("ORD009","Mumbai","Laptop",58000),
    ("ORD010","Delhi","Mobile",29000)
]

columns = ["order_id","city","product","amount"]

df = spark.createDataFrame(data, columns)

In [3]:
high_value_df = df.filter(df.amount>30000)

In [4]:
high_value_df.count()
high_value_df.groupBy("city").sum("amount").show()
high_value_df.groupBy("product").avg("amount").show()

+---------+-----------+
|     city|sum(amount)|
+---------+-----------+
|Bangalore|      87000|
|   Mumbai|     151000|
|    Delhi|      92000|
+---------+-----------+

+-------+-----------+
|product|avg(amount)|
+-------+-----------+
| Laptop|    52600.0|
| Mobile|    32000.0|
| Tablet|    35000.0|
+-------+-----------+

In [5]:
high_value_df.cache()
high_value_df.count()
high_value_df.groupBy("city").sum("amount").show()
high_value_df.groupBy("product").avg("amount").show()

+---------+-----------+
|     city|sum(amount)|
+---------+-----------+
|Bangalore|      87000|
|   Mumbai|     151000|
|    Delhi|      92000|
+---------+-----------+

+-------+-----------+
|product|avg(amount)|
+-------+-----------+
| Laptop|    52600.0|
| Mobile|    32000.0|
| Tablet|    35000.0|
+-------+-----------+

In [6]:
high_value_df.unpersist()

DataFrame[order_id: string, city: string, product: string, amount: bigint]

In [7]:
df = df.filter(df.amount>30000).show()

+--------+---------+-------+------+
|order_id|     city|product|amount|
+--------+---------+-------+------+
|  ORD001|    Delhi| Laptop| 45000|
|  ORD002|   Mumbai| Mobile| 32000|
|  ORD003|Bangalore| Laptop| 52000|
|  ORD005|   Mumbai| Laptop| 61000|
|  ORD007|    Delhi| Laptop| 47000|
|  ORD008|Bangalore| Tablet| 35000|
|  ORD009|   Mumbai| Laptop| 58000|
+--------+---------+-------+------+

In [ ]:
df.count() #Wont work because it has a 'show()' function