In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import when, col

spark = SparkSession.builder.appName("SET").getOrCreate()

In [2]:
data_a=[
    ("U1","Python"),
    ("U2","Java"),
    ("U3","Spark")


]

df_a=spark.createDataFrame(data_a,["user_id","course"])

In [3]:
data_b=[
    ("U2","Java"),
    ("U3","Spark"),
    ("U4","Python")
]

df_b=spark.createDataFrame(data_b,["user_id","course"])

In [4]:
df_a.union(df_b).show()

+-------+------+
|user_id|course|
+-------+------+
|     U1|Python|
|     U2|  Java|
|     U3| Spark|
|     U2|  Java|
|     U3| Spark|
|     U4|Python|
+-------+------+

In [5]:
df_a.intersect(df_b).show() #Expensive operation (USES LOT OF RAM & DISK)

+-------+------+
|user_id|course|
+-------+------+
|     U3| Spark|
|     U2|  Java|
+-------+------+