In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.window import Window
from pyspark.sql.functions import sum
spark=SparkSession.builder.getOrCreate()

data = [
    ("North", "2024-01-01", 100),
    ("North", "2024-01-02", 200),
    ("North", "2024-01-03", 300),
    ("South", "2024-01-01", 50),
    ("South", "2024-01-02", 150)
]


columns = ["region","date","amount"]

df=spark.createDataFrame(data,columns)
df.show()

+------+----------+------+
|region|      date|amount|
+------+----------+------+
| North|2024-01-01|   100|
| North|2024-01-02|   200|
| North|2024-01-03|   300|
| South|2024-01-01|    50|
| South|2024-01-02|   150|
+------+----------+------+

In [2]:
df.groupBy("region").sum("amount").show()

+------+-----------+
|region|sum(amount)|
+------+-----------+
| North|        600|
| South|        200|
+------+-----------+

In [3]:
window_spec = Window.partitionBy("region")

In [4]:
df.withColumn(
    "region_total",
    sum("amount").over(window_spec)
).show()

+------+----------+------+------------+
|region|      date|amount|region_total|
+------+----------+------+------------+
| North|2024-01-01|   100|         600|
| North|2024-01-02|   200|         600|
| North|2024-01-03|   300|         600|
| South|2024-01-01|    50|         200|
| South|2024-01-02|   150|         200|
+------+----------+------+------------+