In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
.appName("Read CSV Example") \
.getOrCreate()

In [6]:
data = [
("T001","Amit","Hyderabad","Ramesh","Sedan",12.5,320,28,"UPI","Completed"),
("T002","Neha","Bangalore","Suresh","Mini",8.2,210,22,"Card","Completed"),
("T003","Rahul","Delhi","Anil","Bike",5.1,120,15,"Cash","Completed"),
("T004","Pooja","Mumbai","Vikas","SUV",18.0,560,45,"UPI","Cancelled"),
("T005","Arjun","Chennai","Kumar","Mini",7.8,200,20,"UPI","Completed"),
("T006","Sneha","Hyderabad","Ramesh","Sedan",14.2,360,32,"Card","Completed"),
("T007","Karan","Delhi","Anil","Bike",6.3,140,18,"UPI","Completed"),
("T007","Karan","Delhi","Anil","Bike",6.3,140,18,"UPI","Completed"),
("T008","Riya","Bangalore","Suresh","Sedan",11.0,300,27,"Wallet","Completed"),
("T009","Vikas","Mumbai","Vijay","SUV",20.5,650,50,"Card","Completed"),
("T010","Anjali","Chennai","Kumar","Bike",4.9,110,14,"Cash","Complete"),
("T011","Farhan","Delhi","Anil","Mini",9.6,240,25,"UPI","Completed"),
("T012","Megha","Hyderabad","Ramesh","SUV",19.2,610,48,"Card","Cancelled"),
("T013","Suresh","Bangalore","Suresh","Sedan",13.0,340,30,"UPI","Completed"),
("T014","Divya","Mumbai","Vikas","Mini",10.2,260,26,"Wallet","Completed"),
("T015","Nikhil","Delhi","Anil","Sedan",15.5,390,34,"UPI","Completed"),
("T016","Kavya","Chennai","Kumar","Sedan",12.1,315,29,"UPI","Completed"),
("T017","Rohit","Hyderabad","Ramesh","SUV",22.0,700,55,"Card","Completed"),
("T018","Simran","Bangalore","Suresh","Bike",5.8,130,16,"Cash","Completed"),
("T019","Ayesha","Mumbai","Vijay","Mini",9.9,250,24,"UPI","Completed"),
("T020","Manish","Delhi","Anil","Bike",6.0,135,17,"Wallet","Completed"),
("T021","Priya","Hyderabad","Ramesh","Sedan",14.8,380,33,"Card","Completed"),
("T022","Yash","Chennai","Kumar","SUV",21.3,680,52,"UPI","Completed"),
("T023","Naina","Bangalore","Suresh","Mini",10.7,270,28,"UPI","Completed"),
("T024","Sameer","Mumbai","Vikas","Sedan",13.9,350,31,"Wallet","Completed"),
("T025","Ritika","Delhi","Anil","Bike",5.4,125,16,"Cash","Completed"),
("T026","Gopal","Hyderabad","Ramesh","Mini",8.9,225,23,"UPI","Completed"),
("T027","Tina","Bangalore","Suresh","Sedan",12.6,330,29,"Card","Completed"),
("T028","Irfan","Mumbai","Vijay","SUV",23.4,740,58,"Card","Completed"),
("T029","Sahil","Chennai","Kumar","Mini",9.4,235,24,"UPI","Completed"),
("T030","Lavanya","Delhi","Anil","Sedan",14.1,365,32,"Wallet","Completed"),
("T031","Deepak","Hyderabad","Ramesh","Bike",6.7,150,18,"Cash","Completed"),
("T032","Shweta","Bangalore","Suresh","Mini",10.0,255,26,"UPI","Completed"),
("T033","Aman","Mumbai","Vikas","Sedan",15.8,395,35,"Card","Completed"),
("T034","Rekha","Chennai","Kumar","Sedan",13.5,345,30,"UPI","Completed"),
("T035","Zubin","Delhi","Anil","SUV",24.0,760,60,"Card","Completed"),
("T036","Pallavi","Hyderabad","Ramesh","Mini",9.1,230,23,"Wallet","Completed"),
("T037","Naveen","Bangalore","Suresh","Bike",5.9,135,17,"UPI","Completed"),
("T038","Sonia","Mumbai","Vijay","SUV",21.7,690,54,"Card","Completed"),
("T039","Harish","Chennai","Kumar","Mini",8.5,215,21,"Cash","Completed"),
("T040","Kriti","Delhi","Anil","Sedan",14.6,375,33,"UPI","Completed"),
("T041","Apoorva","Hyderabad","Ramesh","Sedan",13.2,335,30,"Card","Completed"),
("T042","Mohit","Bangalore","Suresh","SUV",19.9,620,49,"UPI","Completed"),
("T043","Tanvi","Mumbai","Vikas","Mini",10.4,265,27,"Wallet","Completed"),
("T044","Rakesh","Chennai","Kumar","Bike",6.2,140,18,"Cash","Completed"),
("T045","Isha","Delhi","Anil","Mini",9.7,245,25,"UPI","Completed")
]
columns = [
"trip_id","rider_name","city","driver_name","vehicle_type",
"distance_km","trip_fare","trip_duration_minutes",
"payment_mode","trip_status"
]
df = spark.createDataFrame(data, columns)
df.show()
df.printSchema()

+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+
|trip_id|rider_name|     city|driver_name|vehicle_type|distance_km|trip_fare|trip_duration_minutes|payment_mode|trip_status|
+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+
|   T001|      Amit|Hyderabad|     Ramesh|       Sedan|       12.5|      320|                   28|         UPI|  Completed|
|   T002|      Neha|Bangalore|     Suresh|        Mini|        8.2|      210|                   22|        Card|  Completed|
|   T003|     Rahul|    Delhi|       Anil|        Bike|        5.1|      120|                   15|        Cash|  Completed|
|   T004|     Pooja|   Mumbai|      Vikas|         SUV|       18.0|      560|                   45|         UPI|  Cancelled|
|   T005|     Arjun|  Chennai|      Kumar|        Mini|        7.8|      200|                   20|         UPI|  Completed|
|   T006|     Sneha|Hyderabad|     Ramesh|       Sedan|       14.2|      360|                   32|        Card|  Completed|
|   T007|     Karan|    Delhi|       Anil|        Bike|        6.3|      140|                   18|         UPI|  Completed|
|   T007|     Karan|    Delhi|       Anil|        Bike|        6.3|      140|                   18|         UPI|  Completed|
|   T008|      Riya|Bangalore|     Suresh|       Sedan|       11.0|      300|                   27|      Wallet|  Completed|
|   T009|     Vikas|   Mumbai|      Vijay|         SUV|       20.5|      650|                   50|        Card|  Completed|
|   T010|    Anjali|  Chennai|      Kumar|        Bike|        4.9|      110|                   14|        Cash|   Complete|
|   T011|    Farhan|    Delhi|       Anil|        Mini|        9.6|      240|                   25|         UPI|  Completed|
|   T012|     Megha|Hyderabad|     Ramesh|         SUV|       19.2|      610|                   48|        Card|  Cancelled|
|   T013|    Suresh|Bangalore|     Suresh|       Sedan|       13.0|      340|                   30|         UPI|  Completed|
|   T014|     Divya|   Mumbai|      Vikas|        Mini|       10.2|      260|                   26|      Wallet|  Completed|
|   T015|    Nikhil|    Delhi|       Anil|       Sedan|       15.5|      390|                   34|         UPI|  Completed|
|   T016|     Kavya|  Chennai|      Kumar|       Sedan|       12.1|      315|                   29|         UPI|  Completed|
|   T017|     Rohit|Hyderabad|     Ramesh|         SUV|       22.0|      700|                   55|        Card|  Completed|
|   T018|    Simran|Bangalore|     Suresh|        Bike|        5.8|      130|                   16|        Cash|  Completed|
|   T019|    Ayesha|   Mumbai|      Vijay|        Mini|        9.9|      250|                   24|         UPI|  Completed|
+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+
only showing top 20 rows
root
 |-- trip_id: string (nullable = true)
 |-- rider_name: string (nullable = true)
 |-- city: string (nullable = true)
 |-- driver_name: string (nullable = true)
 |-- vehicle_type: string (nullable = true)
 |-- distance_km: double (nullable = true)
 |-- trip_fare: long (nullable = true)
 |-- trip_duration_minutes: long (nullable = true)
 |-- payment_mode: string (nullable = true)
 |-- trip_status: string (nullable = true)

#CSV, JSON, PARQUET (Ride-Sharing Use Case)

##SECTION A — CSV

Exercise 1

Write the full dataset to CSV with header enabled.
Output:
trips_csv/

In [7]:
df.write \
.mode("overwrite") \
.option("header", True) \
.csv("/content/trips.csv")

orders_df = spark.read \
.option("header", True) \
.option("inferSchema", True) \
.csv("/content/trips.csv")

Exercise 2

Read the CSV and filter:
trip_fare > 400
trip_status = "Completed"

In [10]:
df.write \
.mode("overwrite") \
.option("header", True) \
.csv("/content/trips.csv")

orders_csv_df = spark.read \
.option("header", True) \
.option("inferSchema", True) \
.csv("/content/trips.csv")

filtered_df = orders_csv_df.filter("trip_fare > 400 and trip_status = 'Completed'")
filtered_df.show()

+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+
|trip_id|rider_name|     city|driver_name|vehicle_type|distance_km|trip_fare|trip_duration_minutes|payment_mode|trip_status|
+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+
|   T028|     Irfan|   Mumbai|      Vijay|         SUV|       23.4|      740|                   58|        Card|  Completed|
|   T035|     Zubin|    Delhi|       Anil|         SUV|       24.0|      760|                   60|        Card|  Completed|
|   T038|     Sonia|   Mumbai|      Vijay|         SUV|       21.7|      690|                   54|        Card|  Completed|
|   T042|     Mohit|Bangalore|     Suresh|         SUV|       19.9|      620|                   49|         UPI|  Completed|
|   T009|     Vikas|   Mumbai|      Vijay|         SUV|       20.5|      650|                   50|        Card|  Completed|
|   T017|     Rohit|Hyderabad|     Ramesh|         SUV|       22.0|      700|                   55|        Card|  Completed|
|   T022|      Yash|  Chennai|      Kumar|         SUV|       21.3|      680|                   52|         UPI|  Completed|
+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+

Exercise 3

From CSV, select:
trip_id
city
vehicle_type
trip_fare
Sort by trip_fare descending.

In [13]:
orders_csv_df.select("trip_id", "city", "vehicle_type", "trip_fare").orderBy("trip_fare", ascending = False).show()

+-------+---------+------------+---------+
|trip_id|     city|vehicle_type|trip_fare|
+-------+---------+------------+---------+
|   T035|    Delhi|         SUV|      760|
|   T028|   Mumbai|         SUV|      740|
|   T017|Hyderabad|         SUV|      700|
|   T038|   Mumbai|         SUV|      690|
|   T022|  Chennai|         SUV|      680|
|   T009|   Mumbai|         SUV|      650|
|   T042|Bangalore|         SUV|      620|
|   T012|Hyderabad|         SUV|      610|
|   T004|   Mumbai|         SUV|      560|
|   T033|   Mumbai|       Sedan|      395|
|   T015|    Delhi|       Sedan|      390|
|   T021|Hyderabad|       Sedan|      380|
|   T040|    Delhi|       Sedan|      375|
|   T030|    Delhi|       Sedan|      365|
|   T006|Hyderabad|       Sedan|      360|
|   T024|   Mumbai|       Sedan|      350|
|   T034|  Chennai|       Sedan|      345|
|   T013|Bangalore|       Sedan|      340|
|   T041|Hyderabad|       Sedan|      335|
|   T027|Bangalore|       Sedan|      330|
+-------+---------+------------+---------+
only showing top 20 rows

Exercise 4

Write only Bike trips to CSV using delimiter | .

In [15]:
bike_df = df.filter("vehicle_type == 'Bike'")
bike_df.write \
.mode("overwrite") \
.option("header", True) \
.option("delimiter", "|") \
.csv("bike_trips.csv")

Exercise 5

Write only trips from Mumbai to JSON.
Output:
mumbai_trips_json/

In [18]:
mumbai_df = df.filter(df.city == "Mumbai")
mumbai_df.write\
.mode("overwrite")\
.json("mumbai_trips.json")

Exercise 6

Read JSON and add a column:
fare_per_km = trip_fare / distance_km
Write back to JSON.

In [19]:
from pyspark.sql.functions import col
mumbai_json_df = spark.read.json("mumbai_trips.json")
mumbai_enriched_df = mumbai_json_df.withColumn("fare_per_km", col("trip_fare") / col("distance_km"))
mumbai_enriched_df.write \
.mode("overwrite") \
.json("mumbai_trips_with_fare_per_km_json.json")

Exercise 7

Filter JSON data:
payment_mode = "Card"
vehicle_type = "SUV"

In [20]:
json_df = spark.read.json("mumbai_trips.json")
filtered_json_df = json_df.filter(json_df.payment_mode == "Card").filter(json_df.vehicle_type == "SUV")
filtered_json_df.show()

+------+-----------+-----------+------------+----------+---------------------+---------+-------+-----------+------------+
|  city|distance_km|driver_name|payment_mode|rider_name|trip_duration_minutes|trip_fare|trip_id|trip_status|vehicle_type|
+------+-----------+-----------+------------+----------+---------------------+---------+-------+-----------+------------+
|Mumbai|       23.4|      Vijay|        Card|     Irfan|                   58|      740|   T028|  Completed|         SUV|
|Mumbai|       21.7|      Vijay|        Card|     Sonia|                   54|      690|   T038|  Completed|         SUV|
|Mumbai|       20.5|      Vijay|        Card|     Vikas|                   50|      650|   T009|  Completed|         SUV|
+------+-----------+-----------+------------+----------+---------------------+---------+-------+-----------+------------+

Exercise 8

Force JSON output into a single partition and observe the output structure.

In [21]:
filtered_json_df \
.coalesce(1) \
.write \
.mode("overwrite") \
.json("filtered_json_single_partition.json")

#SECTION C — PARQUET

Exercise 9

Convert full dataset to Parquet.

In [22]:
df.write \
.mode("overwrite") \
.parquet("trips.parquet")

Exercise 10

Read Parquet and filter:
trip_duration_minutes > 45

In [23]:
parquet_df = spark.read.parquet("trips.parquet")
long_trips_df = parquet_df.filter(parquet_df.trip_duration_minutes > 45)
long_trips_df.show()

+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+
|trip_id|rider_name|     city|driver_name|vehicle_type|distance_km|trip_fare|trip_duration_minutes|payment_mode|trip_status|
+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+
|   T028|     Irfan|   Mumbai|      Vijay|         SUV|       23.4|      740|                   58|        Card|  Completed|
|   T035|     Zubin|    Delhi|       Anil|         SUV|       24.0|      760|                   60|        Card|  Completed|
|   T038|     Sonia|   Mumbai|      Vijay|         SUV|       21.7|      690|                   54|        Card|  Completed|
|   T042|     Mohit|Bangalore|     Suresh|         SUV|       19.9|      620|                   49|         UPI|  Completed|
|   T009|     Vikas|   Mumbai|      Vijay|         SUV|       20.5|      650|                   50|        Card|  Completed|
|   T012|     Megha|Hyderabad|     Ramesh|         SUV|       19.2|      610|                   48|        Card|  Cancelled|
|   T017|     Rohit|Hyderabad|     Ramesh|         SUV|       22.0|      700|                   55|        Card|  Completed|
|   T022|      Yash|  Chennai|      Kumar|         SUV|       21.3|      680|                   52|         UPI|  Completed|
+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+

Exercise 11

Sort Parquet data by distance_km descending and write top 10 trips back to Parquet.

In [24]:
top_10_trips_df = parquet_df \
.orderBy(parquet_df.distance_km.desc()) \
.limit(10)
top_10_trips_df.write \
.mode("overwrite") \
.parquet("top_10_trips.parquet")

Exercise 12

Compare storage size of:
CSV
JSON
Parquet
Answer which is smallest and why.

In [26]:
df.write.mode("overwrite").option("header", True).csv("trips_csv")
df.write.mode("overwrite").json("trips_json")
df.write.mode("overwrite").parquet("trips_parquet")
!hdfs dfs -du -h trips.csv trips_json trips.parquet/
!du -sh trips_csv trips_json trips_parquet

/bin/bash: line 1: hdfs: command not found
24K	trips_csv
32K	trips_json
24K	trips_parquet

#SECTION D — FORMAT CONVERSION

Exercise 13

Convert:
CSV → Parquet
JSON → Parquet

In [27]:
parquet_df = spark.read.parquet("trips.parquet")
parquet_df.write \
.mode("overwrite") \
.option("header", True) \
.option("delimiter", "|") \
.csv("parquet_to_csv")

#ANALYTICS THINKING QUESTIONS

Exercise 15

Which city generates the highest total trip_fare?

In [29]:
from pyspark.sql.functions import sum as spark_sum
city_revenue_df = df.groupBy("city").agg(spark_sum("trip_fare").alias("total_revenue")) \
.orderBy("total_revenue", ascending = False)
city_revenue_df.show(1)

+------+-------------+
|  city|total_revenue|
+------+-------------+
|Mumbai|         4160|
+------+-------------+
only showing top 1 row

Exercise 16

Which vehicle_type has the highest average fare?

In [31]:
from pyspark.sql.functions import avg
vehicle_type_avg_fare_df = df.groupBy("vehicle_type").agg(avg("trip_fare").alias("avg_fare")) \
.orderBy("avg_fare", ascending = False)
vehicle_type_avg_fare_df.show(1)

+------------+-----------------+
|vehicle_type|         avg_fare|
+------------+-----------------+
|         SUV|667.7777777777778|
+------------+-----------------+
only showing top 1 row

Exercise 17

Which driver has completed the most trips?

In [34]:
from pyspark.sql.functions import count
driver_trips_df = df.groupBy("driver_name").agg(count("*").alias("trip_count")) \
.orderBy("trip_count", ascending = False)
driver_trips_df.show(1)

+-----------+----------+
|driver_name|trip_count|
+-----------+----------+
|       Anil|        11|
+-----------+----------+
only showing top 1 row

Exercise 18

Why is Parquet preferred for analytics dashboards and aggregations?

In [36]:
csv_df = spark.read \
.option("header", True) \
.option("inferSchema", True) \
.csv("/content/trips.csv")

csv_agg = csv_df.groupBy("city") \
.sum("trip_fare") \

csv_agg.explain(True)

== Parsed Logical Plan ==
'Aggregate ['city], ['city, unresolvedalias('sum(trip_fare#563))]
+- Relation [trip_id#557,rider_name#558,city#559,driver_name#560,vehicle_type#561,distance_km#562,trip_fare#563,trip_duration_minutes#564,payment_mode#565,trip_status#566] csv

== Analyzed Logical Plan ==
city: string, sum(trip_fare): bigint
Aggregate [city#559], [city#559, sum(trip_fare#563) AS sum(trip_fare)#578L]
+- Relation [trip_id#557,rider_name#558,city#559,driver_name#560,vehicle_type#561,distance_km#562,trip_fare#563,trip_duration_minutes#564,payment_mode#565,trip_status#566] csv

== Optimized Logical Plan ==
Aggregate [city#559], [city#559, sum(trip_fare#563) AS sum(trip_fare)#578L]
+- Project [city#559, trip_fare#563]
   +- Relation [trip_id#557,rider_name#558,city#559,driver_name#560,vehicle_type#561,distance_km#562,trip_fare#563,trip_duration_minutes#564,payment_mode#565,trip_status#566] csv

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- HashAggregate(keys=[city#559], functions=[sum(trip_fare#563)], output=[city#559, sum(trip_fare)#578L])
   +- Exchange hashpartitioning(city#559, 200), ENSURE_REQUIREMENTS, [plan_id=711]
      +- HashAggregate(keys=[city#559], functions=[partial_sum(trip_fare#563)], output=[city#559, sum#581L])
         +- FileScan csv [city#559,trip_fare#563] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/content/trips.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<city:string,trip_fare:int>

#OPTIONAL CHALLENGE

Challenge 1
Repartition the dataset into 4 partitions and write to Parquet.

In [37]:
df_repartitioned = df.repartition(4)
df_repartitioned.write \
.mode("overwrite") \
.parquet("trips_repartitioned.parquet")

Challenge 2
Create a summary dataset with:
city
total_trips
total_revenue
average_trip_duration
Write it to Parquet.

In [38]:
from pyspark.sql.functions import sum as spark_sum, avg, count
summary_df = df.groupBy("city") \
.agg(
    count("*").alias("total_trips"),
    spark_sum("trip_fare").alias("total_revenue"),
    avg("trip_duration_minutes").alias("average_trip_duration")
)
summary_df.write \
.mode("overwrite") \
.parquet("summary.parquet")