In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (4.0.1)
Requirement already satisfied: py4j==0.10.9.9 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.9)

In [2]:
from pyspark.sql import SparkSession

spark= SparkSession.builder \
      .appName("Basics") \
      .getOrCreate()

spark.version

'4.0.1'

#First DataFrame

In [3]:
data=[
    {"name":"Arjun","age":21},
    {"name":"Krazy8","age":15},
    {"name":"Sharan","age":32}

]

df=spark.createDataFrame(data)
df.show()

+---+------+
|age|  name|
+---+------+
| 21| Arjun|
| 15|Krazy8|
| 32|Sharan|
+---+------+

In [5]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [6]:
df.select("name").show()

+------+
|  name|
+------+
| Arjun|
|Krazy8|
|Sharan|
+------+

In [7]:
df.filter(df.age>20).show()

+---+------+
|age|  name|
+---+------+
| 21| Arjun|
| 32|Sharan|
+---+------+

In [9]:
from pyspark.sql.functions import col
df2=df.withColumn("age_plus_5", col("age")+5)
df2.show()

+---+------+----------+
|age|  name|age_plus_5|
+---+------+----------+
| 21| Arjun|        26|
| 15|Krazy8|        20|
| 32|Sharan|        37|
+---+------+----------+

In [10]:
from pyspark.sql.functions import lower
df3=df.withColumn("name_lower", lower(col("name")))
df3.show()

+---+------+----------+
|age|  name|name_lower|
+---+------+----------+
| 21| Arjun|     arjun|
| 15|Krazy8|    krazy8|
| 32|Sharan|    sharan|
+---+------+----------+

In [11]:
df.drop("age").show()

+------+
|  name|
+------+
| Arjun|
|Krazy8|
|Sharan|
+------+